/*--------------------
 Body
 --------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background-color: #01555b;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
