/*--------------------
 Body
 --------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background-color: #01555b;
  color: #fff;
  background: url(images/blue1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #033e4298;
  color: rgba(2, 41, 28, 0.445);
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

/** Mixins **/
body {
  font-family: "Lato", sans-serif;
}
.hero-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a94e8;
  flex-wrap: wrap;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.container-item {
  position: relative;
  pointer-events: none;
}
.click-text {
  padding-left: 2px;
}
.bold-font {
  text-decoration: underline;
}
.reset-button {
  position: absolute;
  right: 10px;
  top: 30px;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
.particle-count {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}
.hero-title {
  color: #3d434a;
  font-size: 3em;
}
@media only screen and (min-width: 320px) {
  .hero-title {
    font-size: 2em;
  }
}
@media only screen and (min-width: 480px) {
  .hero-title {
    font-size: 4em;
  }
}
.hero-subtitle {
  padding-left: 2px;
  font-size: 1.2em;
}


.bold
{
  font-weight: 400;
}



.tablu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-radius: 10px;
border-spacing: 0;
text-align: center;
}

caption {
  color: white;
  margin-bottom: 7px;
  font-size: 20px;
}

th {
background: rgba(255,137,0,0.9);
padding: 10px 20px;
  color: rgba(129, 69, 0, 1);
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: rgba(0,0,0,0.1);
}

th:first-child {
border-top-left-radius: 5px;
}
th:last-child {
border-top-right-radius: 5px;
border-right: none;
}
th:first-child, td:first-child {
padding: 7px 8px;
}

td {
  padding: 7px 20px;
  background: rgba(230,230,230,1);
  color: rgba(0, 0, 0, 0.6);
}

.player td {
  color: rgba(0, 0, 0, 1.0);
  font-weight: bold;
  background: rgba(215, 215, 215, 1);
  color: rgba(0, 0, 0, 0.8);
  
}

tr:last-child td:first-child {
border-radius: 0 0 0 5px;
}
tr:last-child td:last-child {
border-radius: 0 0 5px 0;
}
tr td:last-child {
border-right: none;
}

.day
{
  color: rgb(150, 0, 0);
}

