/*--------------------
 Body
 --------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 450px;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  color: #fff;
  background: url(images/blue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}



html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}



/** Mixins **/
body {
  font-family: "Lato", sans-serif;
}
.hero-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a94e8;
  flex-wrap: wrap;
}
.canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 57%;
}
.container-item {
  position: relative;
  pointer-events: none;
}
.click-text {
  padding-left: 2px;
}
.bold-font {
  text-decoration: underline;
}
.reset-button {
  position: absolute;
  right: 10px;
  top: 30px;
  color: #333;
  text-decoration: underline;
  cursor: pointer;
}
.particle-count {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}
.hero-title {
  color: #3d434a;
  font-size: 3em;
}
@media only screen and (min-width: 320px) {
  .hero-title {
    font-size: 2em;
  }
}
@media only screen and (min-width: 480px) {
  .hero-title {
    font-size: 4em;
  }
}
.hero-subtitle {
  padding-left: 2px;
  font-size: 1.2em;
}


.bold
{
  font-weight: 400;
}



.day
{
  color: rgb(255, 255, 255);
}


/* editzzz */

tbody {
  display: table-row-group;
  vertical-align: middle;
   
  
 
}

.table
{
  
  color: rgba(255, 255, 255, 0.674);
  font-family: "raleway";
  font-weight: 300;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5rem;
  margin-top: 1rem;
  border:1.1px solid rgba(1, 6, 1, 0); 
  
}



.tableouter
{
  background-color: #88121293;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;

  

  
}

.dept
{
  background-color: #310101;


}

.deptt
{
  background-color: #00000030;
  border-radius: 12px;

}



.rank
{

  text-align: right;
}



.clickbtn
{
  background-color: #dc000000;
  color: rgb(255, 255, 255);
  font-size: 100%;
  line-height: 15px;
}

#new
{
  background-color: #310101;
}

